<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBgLeBWpIcruA0hsqwtSQB5d6SPJVFwzXU</string>
	<key>GCM_SENDER_ID</key>
	<string>6939870526</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firebase.trilhanacional</string>
	<key>PROJECT_ID</key>
	<string>trilha-nacional-3ecee</string>
	<key>STORAGE_BUCKET</key>
	<string>trilha-nacional-3ecee.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6939870526:ios:de749390dae6ef5c59586f</string>
</dict>
</plist>